<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кофе</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/Sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="sidenav">
                <div class="sidebar-header">
                    <h3> KOFAN Admin</h3>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DIRECTOR')">
                    <a th:href="@{/statistics/admin-statistics}">Статистика</a>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DIRECTOR')">
                    <a th:href="@{/menu/admin-menu}">Меню</a>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DIRECTOR')">
                    <a th:href="@{/location/admin-locations}">Локации</a>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DIRECTOR')">
                    <a th:href="@{/page/admin-pages}">Страницы</a>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DIRECTOR')">
                    <a th:href="@{/user/admin-users}">Пользователи</a>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_DIRECTOR')">
                    <a th:href="@{/order/admin-order}">Заказы</a>
                </div>
            </div>
        </div>
        <div class="col-md-10" >
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <center><h2>Статистика</h2></center>
                        <center><h5 th:text="${filter}"></h5></center>
                        <form class="d-flex" th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-secondary" value="Выход"/>
                        </form>
                    </div>
                </nav>
                <br>
                <form class="row g-3 needs-validation" novalidate th:method="POST" th:action="@{/statistics/admin-statistics-bydate}">                    <div class="row">
                        <div class="col-lg-2 col-6">
                            <div class="md-form md-outline input-with-post-icon datepicker">
                            <input placeholder="Select date" type="date" id="from" name="dateFrom" class="form-control">
                            <label for="from">Диапазон от</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6">
                            <div class="md-form md-outline input-with-post-icon datepicker">
                                <input placeholder="Select date" type="date" id="to" name="dateTo" class="form-control">
                                <label for="to">до</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <button type="submit" class="btn btn-secondary">Фильтровать</button>
                            <a href="/statistics/admin-statistics" class="btn btn-secondary ">За все время</a>
                        </div>
                        <div class="col-lg-2 col-6">
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 th:text="${ordersquant}"></h3>
                                <p style="color: white">Новых заказов</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-coffee"></i>
                            </div>
                            <ion-icon name="cafe-outline"></ion-icon>
                            <a th:href="@{/order/admin-order}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3 th:text="${revenuequant + ' грн.'}"></h3>
                                <p style="color: white">Выручка</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-cash"></i>
                            </div>
                            <a th:href="@{/order/admin-order}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3 th:text="${usersquant}"></h3>
                                <p style="color: black">Пользователей</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a th:href="@{/user/admin-users}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3 th:text="${locationsquant}"></h3>
                                <p style="color: white">Заведений</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-ios-location-outline"></i>
                            </div>
                            <a th:href="@{/location/admin-locations}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Заказов по локациям</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Выручка по локациям</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="donutChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Рейтинг продуктов</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/plugins/chart.js/Chart.min.js}"></script>

<script th:src="@{/plugins/flot/plugins/jquery.flot.pie.js}"></script>

<script th:inline="javascript">
    $(function () {
        //- DONUT CHART -
        // Get context with jQuery - using jQuery's .get() method.
        console.log()
        var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
        var arrnames = [[${locationnames}]].split('*');
        var arrvalue = [[${locationorders}]].split('*');
        console.log(arrnames);
        console.log(arrvalue);

        var donutData        = {
            labels: arrnames,
            datasets: [
                {
                    data: arrvalue,
                    backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                }
            ]
        }
        var donutOptions     = {
            maintainAspectRatio : false,
            responsive : true,
        }
        //Create pie or douhnut chart        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })
    })
</script>

<script th:inline="javascript">
    $(function () {
        //- DONUT CHART -
        // Get context with jQuery - using jQuery's .get() method.
        var donutChartCanvas = $('#donutChart2').get(0).getContext('2d')
        var arrnames = [[${locationnames}]].split('*');
        var arrvalue = [[${locationrevenue}]].split('*');
        console.log(arrnames);
        console.log(arrvalue);
        var donutData        = {
            labels: arrnames,
            datasets: [
                {
                    data: arrvalue,
                    backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                }
            ]
        }
        var donutOptions     = {
            maintainAspectRatio : false,
            responsive : true,
        }
        //Create pie or douhnut chart        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })
    })
</script>

<script th:inline="javascript">
    $(function () {
        //- DONUT CHART -
        // Get context with jQuery - using jQuery's .get() method.
        var donutChartCanvas = $('#donutChart3').get(0).getContext('2d')
        var arrnames = [[${productnames}]].split('*');
        var arrvalue = [[${productquantity}]].split('*');
        console.log(arrnames);
        console.log(arrvalue);
        var donutData        = {
            labels: arrnames,
            datasets: [
                {
                    data: arrvalue,
                    backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                }
            ]
        }
        var donutOptions     = {
            maintainAspectRatio : false,
            responsive : true,
        }
        //Create pie or douhnut chart        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })
    })
</script>
</body>
</html>